.head{
    background-color:#C0C0C0;
    color:#040457;
    text-align: center;
}
.tr {
    text-align: center;
    cursor: pointer;
}
.tr:hover {
    background-color: rgb(71, 71, 71);
    transition: 0.1s;
}
.tr:hover td {
    color:#e7e7e7;
}
.tr th {
    padding:8px;
    position: sticky;
    top:0;
    background-color:#C0C0C0;
}
.tr td {
    padding:8px;
    color:#C0C0C0;
}
.select {
    background-color: white;
    color:black;
    border: 6px double black;
}
.select:hover {
    border:6px solid black;
}
.selected {
    background-color: rgba(255, 0, 0, 0.692);
}
.animation-in {
    animation: inAnimation 350ms ease-in;
}
@keyframes inAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
}