.head{
    background-color:#C0C0C0;
    color:#040457;
    text-align: center;
}
.tr {
    text-align: center;
}
.tr:hover {
    background-color: rgb(71, 71, 71);
    transition: 0.2s;
}
.tr:hover td {
    color:#e7e7e7;
}
.tr th {
    padding:8px;
}
.tr td {
    padding:8px;
    color:#C0C0C0;
}