.avalanche {
    width: 350px;
    height: 350px;
    background-color:#720000;
    position: relative;
}
.eth {
    width: 350px;
    height: 350px;
    background-color:#585858;
    position: relative;
}

.svg-parent rect:nth-child(2){
    rx:20px;
}