.option {
    /* min-width: 272px; */
    width: 100%;
    background-color: #C4C4C4;
    padding: 12px;
    height: 40px;
    transition: 200ms;
    color:white;
}
.option:hover {
    background-color: #FFFF00;
    color:black;
}