@font-face {
    font-family: 'DosVGA';
    src: url('./Assetes/MorePerfectDOSVGA.ttf');
}
@font-face {
    font-family: 'EnvyCode';
    src: url('./Assetes/Envy\ Code\ R.ttf');
}
@font-face {
    font-family: 'EnvyCodeBold';
    src: url('./Assetes/Envy\ Code\ R\ Bold.ttf');
}
@font-face {
    font-family: 'UbuntuR';
    src: url('./Assetes//Ubuntu-R.ttf');
}
@font-face {
    font-family: 'UbuntuMono';
    src: url('./Assetes/UbuntuMono-R.ttf');
}
* {
    font-family: "UbuntuMono";
}
:root {
    --main-bg-color:#020227;
}
#app-container {
    height: 100%;
    margin: 30px;
    border: 7px double white;
}
#title {
    position: absolute;
    background-color: var(--main-bg-color);
    left: 45%;
    top: -15px;
    text-transform: uppercase;
}
#navbar {
    height: 3rem;
    border-bottom:2px solid white;
    background-color:var(--main-bg-color);
    padding: 8px;
}
#navbar a {
    text-decoration: none;
    color:white;
}
#sidebar {
    background-color:var(--main-bg-color);
    border-right:2px solid white;
}
.ascii-art {
    white-space:'pre';
}
.input {
    outline:none;
    padding: 5px;
    border:7px double white;
    background-color: var(--main-bg-color);
    caret-color: white;
    color:white;
}
.input::placeholder{
    color:white;
}
.wallet-button {
    width:90%;
    height: 2rem;
    border:none;
}
.wallet-button-text {
    text-align: left;
    background-color: gray;
    padding-left: 10px;
}
.circle {
    width:14px;
    height: 14px;
    border-radius: 50%;
    background-color: green;
}
.secondary-button {
    width:90%;
    height: 2rem;
    border:none;
    background:yellow;
}
.select-button {
    width:12rem;
    padding:0.5rem;
    background-color: var(--main-bg-color);
    border:1px solid white;
    border-top:none;
    color:white
}
.contract-button {
    height: 2rem;
    border:none;
    background:yellow;
}
.selected-nav-item {
    border:1px solid white;
    padding: 6px;
}